@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
/* CSS Document */




body {
    background-color: rgb(195,255,211);
}


p {
    font-family: verdana;
    font-size: 20px;
}

IMG.displayed1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10%;
}

IMG.displayed2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 800;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 800;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 800;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 800;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 800;
}

.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px); 
}
.container {
  max-width: 510px;
  margin: 0 auto;
  padding: 5px 0;
  height: 50%;
  text-align:center;
  
}

form {
  padding: 5px 5px;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 3px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.4 );
  width: 200px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 150%;
  color: rgb(195,255,211)
  
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight:20%;
  
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
form input:focus {
  background-color: white;
  width: 250px;
  color: #53e3a6;
}
.container .form input {
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 40%;
  cursor:pointer;
  font-size: 150%;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}



.bounce {
    position:relative;
    left:50%;
    bottom:0;
    margin-top:10%;
    margin-left:-25px;
    width:40%;
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;
    
  }
  
  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

