<!-- CREDIT star rating: https://github.com/dobtco/starrr -->
<!DOCTYPE HTML>
<html>
<head>
  <title>Stream</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/rating/starrr.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>
  <h1>Frdiges<h1>
      <ul>
        <% for(var i=0; i < fridges.length; i++){ %>
          <li> <%=fridges[i].description %> :
            <img src=<%=fridges[i].filepath %> alt="<%=fridges[i].description%>" height="128" width="128">
            </li>
            <% } %>
          </ul>
      </body>
      </html>
=======
  <div class="container">
  <h1>Fridges<h1>
  <img src="https://goo.gl/fNP149" alt="Fridge" style="width:200px;height:300px;"></br>
  <!-- Display Rating -->
  <div class='starrr' id='star1'></div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="public/rating/starrr.js"></script>
  <script>
    //Set number of stars (muss dann iwie für das jeweilige Bild aus DB geholt werden...)
    $('#star1').starrr({
      rating: 3,
      readOnly: true
    });
  </script></br>
  <!-- Rating Button-->
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Rate</button>
    <div id="demo" class="collapse">
        <div class='starrr' id='star2'></div>
        <span class='your-choice-was' style='display: none;'>
            Your rating was <span class='choice'></span>
        </span>
        <script>
          $('#star2').starrr({
            change: function(e, value){
              if (value) {
                $('.your-choice-was').show();
                $('.choice').text(value);
              } else {
                $('.your-choice-was').hide();
              }
            }

          });
        </script>
    </div>
  </div>


</body>
</html>
