<!DOCTYPE HTML>
<html>
<head>
  <title>Index</title>
</head>
<body>
  <h1>Select Image<h1>
    		<form action="upload" method="Post">
    			<input type ="text" name="texturename"><br>
    			<input type ="text" name="imagelink"><br>
    			<button type="submit">Upload</button>
      </body>
      </html>
